<nav class="navbar navbar-expand-lg navbar-light bg-light" >
   
    <a class="navbar-brand mb-0 h1">{{title}}</a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/add-user" routerLinkActive="active">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/validate-user" routerLinkActive="active">Authenticate</a>
            </li>
        
        
  
        </ul>
      
        
      
  
    </div>
      
</nav>